<sky-modal>
  <sky-modal-header> Task </sky-modal-header>
  <sky-modal-content>
    <form [formGroup]="form" (ngSubmit)="instance.save(form.value)">
    <div>
      <label>
        Project
        <br/>
        <select formControlName="projectId">
          <option *ngFor="let project of this.projectView.getValue()" value="{{project.id}}">{{project.name}}</option>
        </select>
      </label>
    </div>
    <div>
      <label>
        Person
        <input type="text" formControlName="person" class="sky-form-control">
      </label>
    </div>

    <div>
      <label>
        Name
        <input type="text" formControlName="name" class="sky-form-control">
      </label>
    </div>
    <div>
      <label>
        Status
        <br/>
        <select formControlName="status">
          <option>New</option>
          <option>Ready</option>
          <option>In Progress</option>
          <option>Review</option>
          <option>Done</option>
          <option>Archived</option>
        </select>
      </label>
    </div>
    <div>
      <label>
        Description
        <input type="text" formControlName="description" class="sky-form-control">
      </label>
    </div>
    <div>
      <label>Tags
        <input type="text" formControlName="tags" class="sky-form-control">
      </label>
    </div>
    <div>
      <label>
        <button type="button"  class="sky-btn sky-btn-default">Blocked</button>
      </label>
    </div>
  </form>
  </sky-modal-content>
  <sky-modal-footer>

    <button type="button" class="sky-btn sky-btn-primary" (click)="instance.save(form.value)">
      <span *ngIf="!form.controls.id.value"> Add </span>
      <span *ngIf="form.controls.id.value"> Edit </span>
    </button>

    <button type="button" class="sky-btn sky-btn-default" (click)="instance.close()">
      Close
    </button>
  </sky-modal-footer>
</sky-modal>