<div>
  <sky-page-summary>
    <sky-page-summary-subtitle>
      {{task.name}}
    </sky-page-summary-subtitle>
    <sky-page-summary-status>
      <span *ngFor="let tag of task.tags">
        <sky-label *ngIf="tag">{{tag}}</sky-label>
      </span>

      <sky-label *ngIf="task.clientRequirement" labelType="success">
        Client
      </sky-label>
      <sky-label *ngIf="task.teamRequirement" labelType="success">
        Team
      </sky-label>
      <sky-label *ngIf="task.blocked" labelType="danger">
        Blocked
      </sky-label>
    </sky-page-summary-status>
    <sky-page-summary-content>
      {{task.person}}
    </sky-page-summary-content>
    <sky-page-summary-content>
      {{task.description}}
    </sky-page-summary-content>
  </sky-page-summary>
</div>