<sky-modal>
  <sky-modal-header>
    Task {{peerid}}
  </sky-modal-header>
  <sky-modal-content>
        <div>
      <label>
      Peer
      <input type="text" [(ngModel)]="friend" class="sky-form-control">
    </label>
    </div>
    <div>
      <label>
      Person
      <input type="text" [(ngModel)]="context.person" class="sky-form-control" (keyup)="collaborate()">
    </label>
    </div>
    <div>
      <label>
      Task
      <input type="text" [(ngModel)]="context.task" class="sky-form-control" (keyup)="collaborate()">
    </label>
    </div>
    <div>
      <label>
      Description
      <input type="text"
      (keyup)="collaborate()"
      [(ngModel)]="context.description"
      class="sky-form-control">
    </label>
    </div>
  </sky-modal-content>
  <sky-modal-footer>
    <button type="button" class="sky-btn sky-btn-primary" (click)="instance.save(this.context)">
      Add
    </button>
    <button type="button" class="sky-btn sky-btn-default" (click)="instance.close()">
      Close
    </button>
  </sky-modal-footer>
</sky-modal>
