<sky-modal>
  <sky-modal-header> {{title}} </sky-modal-header>
  <sky-modal-content>
    <form-builder [model]="model" (onChange)="updateModel($event)"></form-builder>
  </sky-modal-content>
  <sky-modal-footer>
    <button type="button" class="sky-btn sky-btn-primary" (click)="instance.save(model)">
      <span *ngIf="!model.id"> Add </span>
      <span *ngIf="model.id"> Edit </span>
    </button>
    <button type="button" class="sky-btn sky-btn-default" (click)="instance.close()">
      Close
    </button>
  </sky-modal-footer>
</sky-modal>
