@import '../../assets/styles/dragula.css';
table {
    width: 100%;
    border-spacing: 4px;
    border-collapse: separate;
}
td {
    background-color: #f5f5f5;
    vertical-align: top;
    flex: 1 1 auto;
    padding: 4px;
    max-width: 300px;
    min-width: 250px;
}
.block {
    border: 1px solid #666;
}
h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
/deep/ .sky-page-summary{
            box-shadow: 2px 2px 4px #cbc9c9;
        margin: 1px;
}
