<sky-tile>
    <sky-tile-title>
        {{projectName}}
    </sky-tile-title>
    <sky-tile-content>
        <sky-tile-content-section>
            <div style="display:flex; overflow:scroll;">
                <table>
                    <thead>
                        <tr>
                            <td>
                                <h3>New</h3>
                            </td>
                            <td>
                                <h3>Ready</h3>
                            </td>
                            <td>
                                <h3>In Progress</h3>
                            </td>
                            <td>
                                <h3>Review</h3>
                            </td>
                            <td>
                                <h3>Done</h3>
                            </td>
                            <td>
                                <h3>Archived</h3>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td [dragula]='"first-bag"'>
                                <uapi-project-view></uapi-project-view>
                            </td>
                            <td [dragula]='"first-bag"'>
                                <uapi-project-view></uapi-project-view>
                            </td>
                            <td [dragula]='"first-bag"'> </td>
                            <td [dragula]='"first-bag"'> </td>
                            <td [dragula]='"first-bag"'> </td>
                            <td [dragula]='"first-bag"'> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </sky-tile-content-section>
    </sky-tile-content>
</sky-tile>